.slideshow{
  -webkit-box-shadow: inset -63px 93px 63px -96px rgba(77,71,77,1);
  -moz-box-shadow: inset -63px 93px 63px -96px rgba(77,71,77,1);
  box-shadow: inset -63px 93px 63px -96px rgba(77,71,77,1);
  background: #dddddd;
  border-bottom: px solid #eeeeee;
}
.contact-box{
  background: #fff;
  padding:15px;
  width: 25%;
}
.module-title{
  color: #fff;
  padding: 12px;
  background-color: #8c0001;
  border-bottom: double 4px #bdb7b1;
  border-radius: 2px 2px 0 0;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 20px;
  font-weight: 500;
  font-family: ZapfHumnst BT,times new roman;
}
