*{
  margin: 0;
  padding: 0;
}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1}
ul,li,ol{
  list-style: none;
  margin-bottom: 0;
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
