<% include common/hearder.html %>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <% include common/topModule.html %>
  <div class="swiper">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="https://manila.lpu.edu.ph/images/image/slider/Certiport.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="https://manila.lpu.edu.ph/images/image/slider/web_banner_2018_tosp_congratulatory.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="https://manila.lpu.edu.ph/images/image/slider/bayleaf.png" alt="">
        </div>
      </div>
    </div>
    <a href="#" class="orbit-prev">
      <span></span>
    </a>
    <a href="#" class="orbit-next">
      <span></span>
    </a>
  </div>
  <div class="address">
    <p class="title">学术事务副总裁致辞</p>
    <div class="content clearfloat">
      <img class="ceo-pic" src="https://manila.lpu.edu.ph/images/image/VPAA2.jpg" alt="">
      <div class="describe">
        <p>我们感谢您选择LPU，我们向您保证，我们承诺全力支持并为您提供您所获得的帮助：全面，相关的教育，为您的未来做好准备并为您的成功提供支持。</p>
        <p>我们的愿景是成为亚太地区的一流大学。此外，我们有一个明确的路线图，将其变为现实。最重要的是，我们正在走上正轨，并逐渐朝着这一目标迈进。</p>
      </div>
    </div>
  </div>
  <div class="main t3-sl-2">
    <div class="main-content">
      <div class="view view-fifth">
        <img src="https://manila.lpu.edu.ph/online/images/student.png" alt="">
        <div class="mask">
          <h2>
            <a href="https://aims.lpu.edu.ph/lpumnl/students" target="_blank">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                  学生门户网站
                </font>
              </font>
            </a>
          </h2>
        </div>
      </div>
      <div class="view view-fifth">
        <img src="https://manila.lpu.edu.ph/online/images/student.png" alt="">
        <div class="mask">
          <h2>
            <a href="https://aims.lpu.edu.ph/lpumnl/students" target="_blank">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                  学生门户网站
                </font>
              </font>
            </a>
          </h2>
        </div>
      </div>
      <div class="view view-fifth">
        <img src="https://manila.lpu.edu.ph/online/images/student.png" alt="">
        <div class="mask">
          <h2>
            <a href="https://aims.lpu.edu.ph/lpumnl/students" target="_blank">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                  学生门户网站
                </font>
              </font>
            </a>
          </h2>
        </div>
      </div>
      <div class="view view-fifth">
        <img src="https://manila.lpu.edu.ph/online/images/student.png" alt="">
        <div class="mask">
          <h2>
            <a href="https://aims.lpu.edu.ph/lpumnl/students" target="_blank">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                  学生门户网站
                </font>
              </font>
            </a>
          </h2>
        </div>
      </div>
      <div class="view view-fifth">
        <img src="https://manila.lpu.edu.ph/online/images/student.png" alt="">
        <div class="mask">
          <h2>
            <a href="https://aims.lpu.edu.ph/lpumnl/students" target="_blank">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                  学生门户网站
                </font>
              </font>
            </a>
          </h2>
        </div>
      </div>
      <div class="view view-fifth">
        <img src="https://manila.lpu.edu.ph/online/images/student.png" alt="">
        <div class="mask">
          <h2>
            <a href="https://aims.lpu.edu.ph/lpumnl/students" target="_blank">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                  学生门户网站
                </font>
              </font>
            </a>
          </h2>
        </div>
      </div>
      <div class="view view-fifth">
        <img src="https://manila.lpu.edu.ph/online/images/student.png" alt="">
        <div class="mask">
          <h2>
            <a href="https://aims.lpu.edu.ph/lpumnl/students" target="_blank">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                  学生门户网站
                </font>
              </font>
            </a>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="news">
    <h1>大学新闻</h1>
    <ul>
      <li class="news-li clearfloat">
        <a href="" class="news-picture">
          <img src="https://manila.lpu.edu.ph/images/NCR_CUP34.png" alt="">
        </a>
        <!-- <div class="news-pic"></div> -->
        <div class="news-content">
          <div class="news-title"><a href="">第17届NCR杯系列赛：LPU在RFBT排名前10位，税收排名前3位</a></div>
          <p class="time">2018年12月6日星期四 </p>
          <p class="describe">第17届NCR杯系列赛：LPU位列第3杯：商业交易监管框架（RFBT）和前3名第4杯：税收：Catza第17届NCR杯系列赛：LPU位列第3杯：商业交易监管框架（RFBT）和前3名第4杯：税收：Catza Jatria L. Redoble，JPIA副总裁...... </p>
        </div>
        <div class="more"><a href="">阅读更多</a></div>
      </li>
      <li class="news-li clearfloat">
        <a href="" class="news-picture">
          <img src="https://manila.lpu.edu.ph/images/NCR_CUP34.png" alt="">
        </a>
        <!-- <div class="news-pic"></div> -->
        <div class="news-content">
          <div class="news-title"><a href="">第17届NCR杯系列赛：LPU在RFBT排名前10位，税收排名前3位</a></div>
          <p class="time">2018年12月6日星期四 </p>
          <p class="describe">第17届NCR杯系列赛：LPU位列第3杯：商业交易监管框架（RFBT）和前3名第4杯：税收：Catza第17届NCR杯系列赛：LPU位列第3杯：商业交易监管框架（RFBT）和前3名第4杯：税收：Catza Jatria L. Redoble，JPIA副总裁...... </p>
        </div>
        <div class="more"><a href="">阅读更多</a></div>
      </li>
      <li class="news-li clearfloat">
        <a href="" class="news-picture">
          <img src="https://manila.lpu.edu.ph/images/NCR_CUP34.png" alt="">
        </a>
        <!-- <div class="news-pic"></div> -->
        <div class="news-content">
          <div class="news-title"><a href="">第17届NCR杯系列赛：LPU在RFBT排名前10位，税收排名前3位</a></div>
          <p class="time">2018年12月6日星期四 </p>
          <p class="describe">第17届NCR杯系列赛：LPU位列第3杯：商业交易监管框架（RFBT）和前3名第4杯：税收：Catza第17届NCR杯系列赛：LPU位列第3杯：商业交易监管框架（RFBT）和前3名第4杯：税收：Catza Jatria L. Redoble，JPIA副总裁...... </p>
        </div>
        <div class="more"><a href="">阅读更多</a></div>
      </li>
    </ul>
  </div>
  <% include common/footer.html %>
</body>
<script src="/js/index.js" type="text/javascript"></script>
</html>
