<% include ../common/hearder.html %>
  <link rel="stylesheet" href="/css/abouts.css">
</head>
<body>
  <% include ../common/topModule.html %>
  <div class="slideshow">
    <img src="https://manila.lpu.edu.ph/images/banners/ban[[.png" alt="">
  </div>
  <div class="main-content clearfloat">
    <div class="main-left"></div>
    <!--  左边浮窗Start-->
    <div class="contact-box">
      <div class="">
        <h3 class="module-title"><%= title%></h3>
        <ul class="sidebarlinks">
          <li>
            <a href="#">申请要求</a>
          </li>
          <li>
            <a href="#">入学程序</a>
          </li>
          <li>
            <a href="#">奖学金</a>
          </li>
          <!-- <li>
            <a href="#">PWD访问地图</a>
          </li>
          <li>
            <a href="#">干线</a>
          </li> -->
        </ul>
      </div>
    </div>
    <!--  左边浮窗end-->
  </div>

  <% include ../common/footer.html %>
</body>
</html>
