<% include ../common/hearder.html %>
  <link rel="stylesheet" href="/css/abouts.css">
</head>
<body>
  <% include ../common/topModule.html %>
  <div class="slideshow">
    <img src="https://manila.lpu.edu.ph/images/banners/ban[[.png" alt="">
  </div>
  <div class="main-content clearfloat">
    <div class="main-left"></div>
    <!--  左边浮窗Start-->
    <div class="contact-box">
      <div class="">
        <h3 class="module-title"><%= title%></h3>
        <ul class="sidebarlinks">
          <li>
            <a href="/teachingUnit">创新学院</a>
          </li>
          <li>
            <a href="/teachingUnit">工商管理学院</a>
          </li>
          <li>
            <a href="/teachingUnit">护理学院</a>
          </li>
          <li>
            <a href="/teachingUnit">会计学院</a>
          </li>
          <li>
            <a href="/teachingUnit">国际酒店与旅游管理学院</a>
          </li>
          <li>
            <a href="/teachingUnit">计算机与信息管理学院</a>
          </li>
          <li>
            <a href="/teachingUnit">工程学院</a>
          </li>
          <li>
            <a href="/teachingUnit">海事学院</a>
          </li>
          <li>
            <a href="/teachingUnit">牙医学院</a>
          </li>
          <li>
            <a href="/teachingUnit">文理学院</a>
          </li>
          <li>
            <a href="/teachingUnit">国际高中</a>
          </li>
        </ul>
      </div>
    </div>
    <!--  左边浮窗end-->
  </div>

  <% include ../common/footer.html %>
</body>
</html>
