<header class="t3-header clearfloat">
  <div class="logo">
    <a href="/" class="logo-img">
      <img src="/images/officialseal.png" alt="">
    </a>
    <div class="school-name">
      <div class="title">莱西姆大学</div>
      <P>Lyceum of the Philippines University</P>
    </div>
  </div>
  <div class="qslogo">
    <img src="https://manila.lpu.edu.ph/images/image/lpu_qstar.png" alt="" width="120" height="auto">
  </div>
</header>
<nav id="t3-mainnav" class="t3-mainnav">
  <ul class="nav-ul">
    <li class="active nav-li">
      <a href="">首页</a>
    </li>
    <li class="nav-li">
      <a href="">学校简介<em class="caret"></em></a>
      <div class="mega-dropdown-menu">
        <div class="mega-inner clearfloat">
          <ul class="col-xs-6">
            <li>
              <a href="">艺术与科学 </a>
            </li>
            <li>
              <a href="">艺术与科学 </a>
            </li>
            <li>
              <a href="">艺术与科学 </a>
            </li>
            <li>
              <a href="">艺术与科学 </a>
            </li>
          </ul>
          <ul class="col-xs-6">
            <li>
              <a href="">艺术与科学 </a>
            </li>
            <li>
              <a href="">艺术与科学 </a>
            </li>
            <li>
              <a href="">艺术与科学 </a>
            </li>
            <li>
              <a href="">艺术与科学 </a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="nav-li">
      <a href="">新闻</a>
    </li>
    <li class="nav-li">
      <a href="">专业设置</a>
    </li>
    <li class="nav-li">
      <a href="">申请要求</a>
    </li>
    <li class="nav-li">
      <a href="">国际合作</a>
    </li>
    <li class="nav-li">
      <a href="">联系我们</a>
    </li>
  </ul>
</nav>
