<header class="t3-header clearfloat">
  <div class="logo">
    <a href="/" class="logo-img">
      <img src="/images/officialseal.png" alt="">
    </a>
    <div class="school-name">
      <div class="title">菲律宾莱西姆大学-八大雁校区</div>
      <P>Lyceum of the Philippines University</P>
    </div>
  </div>
  <div class="qslogo">
    <img src="https://manila.lpu.edu.ph/images/image/lpu_qstar.png" alt="" width="120" height="auto">
  </div>
</header>
<nav id="t3-mainnav" class="t3-mainnav">
  <ul class="nav-ul">
    <li class="<%= (pathname == '/' ? 'active': '')%> nav-li">
      <a href="/">首页</a>
    </li>
    <li class="nav-li <%= (pathname == '/schoolIntroduction' ? 'active': '')%>">
      <a href="/schoolIntroduction">学校介绍<em class="caret"></em></a>
      <div class="mega-dropdown-menu">
        <div class="mega-inner clearfloat">
          <ul class="col-xs-6">
            <li>
              <a href="">艺术与科学 </a>
            </li>
            <li>
              <a href="">艺术与科学 </a>
            </li>
            <li>
              <a href="">艺术与科学 </a>
            </li>
            <li>
              <a href="">艺术与科学 </a>
            </li>
          </ul>
          <ul class="col-xs-6">
            <li>
              <a href="">艺术与科学 </a>
            </li>
            <li>
              <a href="">艺术与科学 </a>
            </li>
            <li>
              <a href="">艺术与科学 </a>
            </li>
            <li>
              <a href="">艺术与科学 </a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="nav-li <%= (pathname == '/news' ? 'active': '')%>">
      <a href="/news">新闻动态</a>
    </li>
    <li class="nav-li <%= (pathname == '/teachingUnit' ? 'active': '')%>">
      <a href="/teachingUnit">教学单位</a>
    </li>
    <li class="nav-li <%= (pathname == '/admissionManagement' ? 'active': '')%>">
      <a href="/admissionManagement">入学办理</a>
    </li>
    <li class="nav-li <%= (pathname == '/cooperativeColleges' ? 'active': '')%>">
      <a href="/cooperativeColleges">合作院校</a>
    </li>
    <li class="nav-li <%= (pathname == '/contactUs' ? 'active': '')%>">
      <a href="/contactUs">联系我们</a>
    </li>
  </ul>
</nav>
