<% include ../common/hearder.html %>
  <link rel="stylesheet" href="/css/abouts.css">
</head>
<body>
  <% include ../common/topModule.html %>
  <div class="slideshow">
    <img src="https://manila.lpu.edu.ph/images/banners/ban[[.png" alt="">
  </div>
  <div class="contact-box">
    <div class="">
      <h3 class="module-title">联系我们</h3>
      <ul>
        <li>
          <a href="#">干线</a>
        </li>
        <li>
          <a href="#">位置图</a>
        </li>
        <li>
          <a href="#">校园目录</a>
        </li>
        <li>
          <a href="#">PWD访问地图</a>
        </li>
        <li>
          <a href="#">干线</a>
        </li>
      </ul>
    </div>
  </div>
  <% include ../common/footer.html %>
</body>
</html>
